<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="C:\Code\secrets\AzureKeyVaultPoc.config">
    <add key="clientId" value="12345678-abcd-1234-abcd-1234567890ab" />
    <add key="clientSecret" value="sfsafj2k34829hdsfjh32rfjksdhfjksdhfhsdjkfhsd=" />
    <add key="SecretUri" value="https://myvault.vault.azure.net/secrets/DeploymentAccessKey/1234567890abcdef1234567890abcdef" />
    <add key="KeyUri" value="https://myvault.vault.azure.net/keys/test-key" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>